body {
  background-color: #e3d5ca;
  display: flex;
  flex-direction: column;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 37px;
  margin: 0%;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 13px;
  margin: 4px;
}

.main-dashboard {
  padding-top: 15px;
  background-image: url(../images/italy.jpg);
}

.destination-drop-down,
input {
  border-radius: 5px;
  border: 0;
  margin: 8px;
  padding: 15px;
}

.login-image {
  display: flex;
  height: 40vh;
  justify-content: center;
  padding-bottom: 4%;
  padding-top: 6%;
}

.login-center {
  align-items: center;
  border-radius: 4%;
  display: flex;
  flex-direction: column;
  height: 60vh;
}

.login-button {
  border-radius: 8px;
  border: 0;
  font-size: 120%;
  height: 3vh;
  margin: 1%;
  width: 15vw;
}

.password-input,
.user-name-input {
  border-radius: 8px;
  border: 0;
  height: 3vh;
  margin: 0.5%;
  width: 15vw;
}

.top-main-page {
  border: 2px;
  border-radius: 5px;
  display: flex;
  height: 15vh;
  width: max-content;
}

.nav-bar {
  padding-bottom: 32px;
}

.app-logo {
  height: 12vh;
  width: 9vw;
}

.application-title {
  color: white;
  align-items: flex-end;
  display: flex;
  text-align: center;
}

.search-destinations-section {
  align-items: center;
  border: 0px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 15vh;
  justify-content: center;
  width: 100%;
}

.trip-header {
  text-align: center;
  color: #888d8d;
  font-weight: 700;
}

.book-button,
.back-button,
.submit-button {
  background-color: rgb(210, 143, 93);
  border: 0;
  border-radius: 8px;
  box-shadow: none;
  font-size: 85%;
  height: 4vh;
  margin: 7%;
  padding-left: 2px;
  width: 9vw;
}

.all-trips-container {
  background-color: #f0f0f0;
  border: 3px;
  display: flex;
  height: 70vh;
  overflow: scroll;
  padding-top: 10px;
  width: 100vw;
}

.upcoming-trips-section,
.pending-trip-section,
.past-trip-section {
  align-items: center;
  background-color: #cfd8db;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: flex-start;
  margin: 1.5%;
  overflow: scroll;
  width: 33vw;
}

.yearly-expenses {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
}

.user-greeting-header {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding-top: 8px;
}

.travel-tracker-logo {
  display: flex;
  height: 10vh;
  width: 20vw;
}

.trip-total {
  background-color: white;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  text-align: center;
}

.trip-details {
  align-self: left;
  color: black;
  font-size: 16px;
  margin: 15%;
}

.trip-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  justify-content: center;
}

.trip-image {
  height: 140px;
  width: 188px;
}

.trip-section {
  align-items: center;
  background-color: #f0f0f0;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  margin: 4%;
  min-height: 20vh;
  width: 28vw;
}

.hidden {
  display: none !important;
}
